---
title: {{name}}
---
# {{name}}

*Introduced in version {{introduced_at}}*

Summary: **{{methods|join('|')}} {{url}}**

{% if doc %}
{{doc}}
{% else %}
No documentation yet.
{% endif %}

{% if changelog %}
## Changelog

{% for version, info in changelog.items() %}
 * Version {{ version }}: {{ info.doc }}
{% endfor %}

{% endif %}

{% if request_schema %}
## Request JSON Schema

```json
{{request_schema|tojson(4)}}
```
{% endif %}

{% if response_schema %}
## Response JSON Schema

```json
{{response_schema|tojson(4)}}
```
{% endif %}
