---
title: {{name}}{{ ' DEPRECATED' if deprecated_at else '' }}
table_of_contents: false
---
# {{name}} {{ '**(DEPRECATED)**' if deprecated_at else '' }}

{% if deprecated_at %}
*Deprecated in version {{deprecated_at}}*
{% endif %}
{% if deprecated_at != introduced_at %}
*Introduced in version {{introduced_at}}*
{% endif %}

Summary: **{{methods|join('|')}} {{url}}**

{% if doc %}
{{doc}}
{% else %}
No documentation yet.
{% endif %}

{% if changelog %}
## Changelog

{% for version, log in changelog.items()| sort(reverse=True) %}
 * Version {{ version }}: {{ log }}
{% endfor %}

{% endif %}

{% if request_schema %}
## Request JSON Schema

```json
{{request_schema|tojson(4)}}
```
{% endif %}

{% if response_schema %}
## Response JSON Schema

```json
{{response_schema|tojson(4)}}
```
{% endif %}
